.venv/
__pycache__/
*.pyc
profil*.json
resultats_benchmark/
exigences_extraites.json
ex_*.json
criteres_extraction_cache.json
kag_triplets_cache.json
comparaison.json
*.xlsx
rfp/

.env

.env

.env

docker_inspect.txt

corpus/ooredoo/

corpus/corpus_telecom/
